footer{
    padding: 0%;
    margin: 0%;
}

.pie{
    text-align: center;
    vertical-align: middle;
    padding: 0%;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif; color: rgb(0, 0, 0);
    font-weight: 400;
    border-top: solid 2px rgb(95, 84, 84);
    background-color: rgb(123, 5, 5);
    width: 100vw;
}

.pieLogo{
    text-align: center;
    padding-bottom: 1%;
}


.pieLinksIzq{
    text-align: right;
    font-family: 'Roboto', sans-serif, sans-serif;color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 0.3em;
    text-decoration: none;
    list-style: none;
    a{
        text-align: right;
        font-family: 'Roboto', sans-serif, sans-serif;color: rgb(255, 255, 255);
        font-weight: 400;
        padding: 0.3em;
        text-decoration: none;
        list-style: none;
    }
    img{
        height: 20px;
        vertical-align: middle;
    }
}



.pieLinksDer{
    text-align: left;
    font-family: 'Roboto', sans-serif, sans-serif;color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 0.3em;
    text-decoration: none;
    list-style: none;
    a{
        text-align: left;
        font-family: 'Roboto', sans-serif, sans-serif;color: rgb(255, 255, 255);
        font-weight: 400;
        padding: 0.3em;
        text-decoration: none;
        list-style: none;
    }
    img{
        height: 22px;
        vertical-align: middle;
    }
}


@media screen and (max-width: 800px){
    h1{
        font-size: 22px;
    }

    a{
        font-size: 12px;
    }
}
